{{ "<!-- Banner -->" | safeHTML}}
    <section id="banner" class="major" style = "min-height: 100vh;">
        <div class="inner">
            <header class="major" style="margin-bottom: -1em">
                <h1>I am 
                    <strike style='color:#ef5455'>
                        <span style='color:white'>colin<span>
                    </strike> 
                        <br> 
                        <ins style="color:#ef5455">a new perspective. </ins> </h1>
            </header>
                <div>
                 <a href="#tile" class="button next scrolly">{{ .Site.Params.Banner.buttonText }}</a>
            </div>
        </div>
    </section>