{{ "<!-- skills -->" | safeHTML}}
    <section id="two" style ="background-color: #ef5455;">
            <div class="inner">
                <header class="major">
                        <h2>My skills</h2>
                    </header>
                <section>
                        <p>
                                <ul style = "font-weight: bold; font-size: 25px;">
                                <li>fusion 360</li>
                                <li>solidworks</li>
                                <li>C++</li>
                                <li>3D Printing</li>
                            </ul>
                        </p>
                </section>
                <section class="split">
                    <section>
                            <p>
                                    <ul style = "font-weight: bold; font-size: 25px;">
                                    <li>basic java</li>
                                    <li>basic illustrator</li>
                                    <li>basic python</li>
                                    <li>electronics</li>
                                </ul>
                            </p> 
                    </section>
                </section>
            </div>
        </section>